  body{
    margin: 0;
  }
  /* Background Image */
 
.tile {
    background-image: url("floor-tile.png");
    width:100%;
    height: 900px;;
    overflow: scroll;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-top: -45px;
}
 /* Container A, C, D */
 .A {
  margin-bottom: 50px;

}


.C {
    background-color: white;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 20px;
}

.D {
    overflow: scroll;
}

 /* Footers F and MF */
.F {
    height: 40px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    

}

.MF {
    height: 60px;
    position: relative;
    background-color: #4aaaa5;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -10px;
    
}

/* Portfolio */
.image1, .image2, .image3, .image4, .image5 {
    position: relative;
    float: left;
    margin: 10px;
    margin-top: 10px;
  }
  
  .im1, .im2, .im3, .im4, .im5 {
    position: absolute;
    color: white;
    margin-top: 100px;
    background-color: #4aaaa5;
    font-size: 15px;
    text-align: center;
    padding: 1px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20%
  }

  .form {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  